In [2]:
!pip install beautifulsoup4
import pandas as pd
import re
from bs4 import BeautifulSoup

Requirement already satisfied: beautifulsoup4 in c:\users\dell\downloads\new folder\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\downloads\new folder\lib\site-packages (from beautifulsoup4) (2.5)

In [4]:
FILE_PATH = r"C:\Users\Dell\Downloads\Amazon review data.html"

with open(FILE_PATH, "r", encoding="utf-8", errors="ignore") as f:
    soup = BeautifulSoup(f, "html.parser")

print("HTML file loaded successfully")

HTML file loaded successfully

In [5]:
texts = list(soup.stripped_strings)

print("Total text blocks found:", len(texts))
texts[:10]

Total text blocks found: 454

['Amazon review data',
 'Amazon Review Data (2018)',
 'Jianmo Ni',
 ', UCSD',
 'Description',
 'This Dataset is an updated version of the',
 'Amazon review dataset',
 'released in 2014. As in the previous version, this dataset includes reviews (ratings, text, helpfulness votes), product metadata (descriptions, category information, price, brand, and image features), and links (also viewed/also bought graphs). In addition, this version provides the following features:',
 'More reviews:',
 'The total number of reviews is 233.1 million (142.8 million in 2014).']

In [6]:
reviews = []

for t in texts:
    t = t.lower().strip()

    if len(t) >= 30:
        reviews.append(t)

print("Potential reviews extracted:", len(reviews))

Potential reviews extracted: 61

In [7]:
df = pd.DataFrame({"review_text": reviews})
df.head()

                                         review_text
0          this dataset is an updated version of the
1  released in 2014. as in the previous version, ...
2  the total number of reviews is 233.1 million (...
3  current data includes reviews in the range may...
4  we have added transaction metadata for each re...

In [8]:
def clean_text(text):
    text = re.sub(r"<.*?>", "", text) 
    text = re.sub(r"\s+", " ", text)    
    return text.strip()

df["review_text"] = df["review_text"].apply(clean_text)

df.drop_duplicates(inplace=True)

print("Final number of reviews:", len(df))
df.head()

Final number of reviews: 61

                                         review_text
0          this dataset is an updated version of the
1  released in 2014. as in the previous version, ...
2  the total number of reviews is 233.1 million (...
3  current data includes reviews in the range may...
4  we have added transaction metadata for each re...

In [9]:
print("Dataset empty?", df.empty)

df.sample(5)

Dataset empty? False

                                          review_text
1   released in 2014. as in the previous version, ...
29               if you can't get access to the form.
4   we have added transaction metadata for each re...
52  data can be treated as python dictionary objec...
59       predicts ratings from a rating-only csv file

In [10]:
df.to_csv("processed_reviews.csv", index=False)
print("Saved processed_reviews.csv successfully")

Saved processed_reviews.csv successfully